<!DOCTYPE html>
<html>
  <head>
    <title>Warren Brown, Developr Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <div id="main-navigation" class="clearfix">
    <%= link_to 'Warren', root_path, class: 'name' %>
    <nav>
        <%= link_to 'Articles', articles_path %>
        <%= link_to 'Contact', contact_path %>
        <a href="#">Projects</a>
    </nav>
  </div>

  <body>
    <%= yield %>
    <footer id="main-footer">
      <p class="copy-right">&copy; 2017 Warren Brown</p>
      <nav>
        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
      </nav>
    </footer>
  </body>
</html>
